ecrets.yaml
known_devices.yaml
*.log
*.db
*.db-journal
*.pid
deps/
tts/
.cloud/
.storage/
home-assistant.log*
home-assistant_v2.db*

# Zigbee database (changes constantly)
zigbee.db-shm
zigbee.db-wal
*.json
ha-service-account.json
homeassistant-sheetsync-*.json
ha-service-account.json
homeassistant-sheetsync-*.json
zigbee.db-shm
zigbee.db-wal
hac/exports/*.xlsx
