- id: '1770558776705'
  alias: 2nd Floor Bathroom - Vanity Lights Inovelli Control
  description: Time-based Hue scenes with manual override
  triggers:
  - event_type: zha_event
    trigger: event
  conditions:
  - condition: template
    value_template: '{{ trigger.event.data.device_id == device_id }}'
  actions:
  - variables:
      command: '{{ trigger.event.data.command }}'
  - data:
      name: ZHA
      message: 'received event: {{ command }}'
    action: logbook.log
  - choose:
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_1_press'' }}'
      sequence:
      - action: light.turn_off
        target:
          entity_id: light.2nd_floor_vanity_lights
        data:
          transition: 2
      - action: input_boolean.turn_off
        target:
          entity_id: input_boolean.2nd_floor_bathroom_manual_override
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_1_hold'' }}'
      sequence:
      - action: light.turn_on
        target:
          entity_id: light.2nd_floor_vanity_lights
        data:
          brightness_step_pct: -10
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_1_release'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_1_double'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_1_triple'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_1_quadruple'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_1_quintuple'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_2_press'' }}'
      sequence:
      - action: input_boolean.turn_on
        target:
          entity_id: input_boolean.2nd_floor_bathroom_manual_override
      - choose:
        - conditions:
          - condition: time
            after: '23:00:00'
            before: 06:00:00
          sequence:
          - action: scene.turn_on
            target:
              entity_id: scene.2nd_floor_vanity_lights_nightlight
        - conditions:
          - condition: time
            after: '20:00:00'
            before: '23:00:00'
          sequence:
          - action: scene.turn_on
            target:
              entity_id: scene.2nd_floor_vanity_lights_relax
        default:
        - action: scene.turn_on
          target:
            entity_id: scene.2nd_floor_vanity_lights_energize
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_2_hold'' }}'
      sequence:
      - action: light.turn_on
        target:
          entity_id: light.2nd_floor_vanity_lights
        data:
          brightness_step_pct: 10
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_2_release'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_2_double'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_2_triple'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_2_quadruple'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_2_quintuple'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_3_press'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_3_hold'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_3_release'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_3_double'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_3_triple'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_3_quadruple'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_3_quintuple'' }}'
      sequence: []
  mode: queued
  max_exceeded: silent
  variables:
    device_id: 602bdb2b4675a5e364853ac1e53ed689
- id: '1770564792613'
  alias: 2nd Floor Bathroom - Fan Inovelli Manual Control
  description: ''
  triggers:
  - event_type: zha_event
    trigger: event
  conditions:
  - condition: template
    value_template: '{{ trigger.event.data.device_id == device_id }}'
  actions:
  - variables:
      command: '{{ trigger.event.data.command }}'
  - data:
      name: ZHA
      message: 'received event: {{ command }}'
    action: logbook.log
  - choose:
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_1_press'' }}'
      sequence:
      - action: switch.turn_off
        target:
          entity_id: switch.upstairs_bathroom_fan
      - action: input_boolean.turn_on
        target:
          entity_id: input_boolean.2nd_floor_bathroom_fan_manual_override
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_1_hold'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_1_release'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_1_double'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_1_triple'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_1_quadruple'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_1_quintuple'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_2_press'' }}'
      sequence:
      - action: switch.turn_on
        target:
          entity_id: switch.upstairs_bathroom_fan
      - action: input_boolean.turn_on
        target:
          entity_id: input_boolean.2nd_floor_bathroom_fan_manual_override
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_2_hold'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_2_release'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_2_double'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_2_triple'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_2_quadruple'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_2_quintuple'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_3_press'' }}'
      sequence:
      - action: input_boolean.turn_off
        target:
          entity_id: input_boolean.2nd_floor_bathroom_fan_manual_override
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_3_hold'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_3_release'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_3_double'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_3_triple'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_3_quadruple'' }}'
      sequence: []
    - conditions:
      - condition: template
        value_template: '{{ command == ''button_3_quintuple'' }}'
      sequence: []
  mode: queued
  max_exceeded: silent
  variables:
    device_id: 3eed85f7ca546a7ed7e24b0cfc6c818b

- alias: "Alaina's LED Strip Lights Button"
  id: alaina_led_strip_lights_button
  trigger:
    - platform: state
      entity_id: input_button.alaina_led_strip_lights
  action:
    - service: light.toggle
      target:
        entity_id: light.alaina_s_led_strips
  mode: single
- id: alaina_led_strip_auto_off
  alias: "Alaina's LED Strip - Auto Off at Midnight"
  description: "Turn off Alaina's LED strip at midnight to save power and ensure it's off overnight"
  trigger:
    - platform: time
      at: "00:00:00"
  condition: []
  action:
    - service: light.turn_off
      target:
        entity_id: light.alaina_s_led_strips
  mode: single
